.App{
  text-align: center;
  display: flex;
  flex-direction: column;
}
.beer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Gap between beer cards */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f3f3;
  opacity: 0.9;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar{
  align-self: center;
  padding: 10px;
  margin: 20px;
  width: 400px;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  
}